
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid blue;
}
.experience-item{
    width: 40%;
    padding-left: 2%;
    padding-bottom: 30px;
    box-shadow: 10px 10px 40px grey;
    margin: 0 5% 0 5%;
    border-radius: 10px;
}
footer p{
    text-align: center;
}